<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Book review</title>
</head>
<body>
<a href="{% url 'br:index' %}">Book review</a>
<a href="{% url 'br:recent' %}">Recent</a>
<a href="{% url 'br:popular' %}">Popular</a>
<a href="{% url 'br:ratings' %}">Best rated</a>
<form method="get" action="{% url 'br:search' %}">
    <input type="search" name="q" placeholder="Book, author, genre, year...">
    <button>Search</button>
</form>
{% if user.is_authenticated %}
Hello, {{user.username|title}}!
<a href="{% url 'users:logout' %}?next={{request.path}}{% if request.GET.urlencode %}?{{request.GET.urlencode|urlencode}}{% endif %}">Logout</a>
{% else %}
<a href="{% url 'users:login' %}?next={{request.path}}{% if request.GET.urlencode %}?{{request.GET.urlencode|urlencode}}{% endif %}">Login</a>
<a href="{% url 'users:register' %}?next={{request.path}}{% if request.GET.urlencode %}?{{request.GET.urlencode|urlencode}}{% endif %}">Register</a>
{% endif %}
<p><a href="{% url 'br:hey' %}?q=100&si=200">HEY!</a></p>

{% block content %} {% endblock content %}
</body>
</html>