<p>
   <a href="{{book.get_absolute_url}}">{{book.title}}</a>
   {% if book.is_published %}
   (published in
   {% if request.path == '/search/' and category == 'year' %}
   {{book.pub_date.year}})
   {% else %}
   <a href="{% url 'br:search' %}?q={{book.pub_date.year}}&category=year">{{book.pub_date.year}})</a>
   {% endif %}

   {% else %}
   (coming {{book.pub_date|date:'F'}} {{book.pub_date.day}},
   {% if request.path == '/search/' and category == 'year' %}
   {{book.pub_date.year}})
   {% else %}
   <a href="{% url 'br:search' %}?q={{book.pub_date.year}}&category=year">{{book.pub_date.year}})</a>
   {% endif %}

   {% endif %}
</p>
<p>by {% for author in book.authors.all %}
   {% if request.path == '/search/' and category == 'author' %}
   {{author}}
   {% else %}
   <a href="{% url 'br:search' %}?q={{author}}&category=author">{{author}}</a>
   {% endif %}
   {% if not forloop.last %},{% endif %}
   {% endfor %}
</p>
{% if book.is_published %}
<p>Rating:
   {% if book.avg_rating %}
   {{book.avg_rating|floatformat:2}} ({{book.num_reviews}} review{{book.num_reviews|pluralize}})
   {% else %}
   - (no reviews yet)
   {% endif %}
   </p>
{% endif %}
<p>
   {% if book.description|length > 300 %}
   {{book.description|slice:':300'}}...
   {% else %}
   {{book.description}}
   {% endif %}
</p>