{%  extends 'br/base.html' %}
{% load static %}
{% block page_header %}
    <div class="mb-3">
        <h1>Welcome to the Book Review!</h1>
    </div>
    <div class="row g-0 mb-5">
        <div class="col-md order-md-1 mb-3 mb-md-0">
            <img src="{% static 'custom/img/main.png' %}" class="img-fluid">
        </div>
        <div class="col-md-4 col-lg-5 order-md-0">
            <div class="d-block d-md-none d-lg-block">
                <p>Look for your favorite books and rate them.</p>
                <p>Track your reviews and edit or delete them anytime.</p>
                <p>Check out other people's ratings and reviews.</p>
                <p>See the books lists such as recent, the most popular and the best rated books.</p>
                <p>Keep an eye on the most anticipated books.</p>
            </div>
            <div class="d-none d-md-block d-lg-none">
                <ul>
                    <li>Look for interesting books and rate them.</li>
                    <li>Track your reviews and edit or delete them anytime.</li>
                    <li>Check out other people's ratings and reviews.</li>
                    <li>See the books lists such as recent, the most popular and the best rated books.</li>
                    <li>Keep an eye on the most anticipated books.</li>
                </ul>
            </div>
            {% if user.is_authenticated %}
                <a href="{% url 'br:my_reviews' %}" class="btn btn-color">My reviews >></a>
            {% else %}
                <a href="{% url 'users:register' %}" class="btn btn-color">Get started!</a>
            {% endif %}
        </div>
    </div>
{% endblock page_header %}

{% block content %}


    {% if paginator.count %}
        <div class="pb-1 mb-4 border-bottom">
            <h2>Most anticipated books</h2>
        </div>
        <ul>
            {% for book in anticipated_books %}

                <li>{% include 'br/book_card.html' %}</li>
            {% endfor %}
        </ul>
        {% include 'br/pagination.html' %}

    {% else %}

        <h4>No books are anticipated at the moment.</h4>

    {% endif %}

{% endblock content %}