{% extends 'general/base.html' %}
{% load static %}

{% block page_header %}
    <div class="pb-1 mb-4 border-bottom">
        <h2>My reviews</h2>
    </div>
{% endblock page_header %}

{% block content %}
    {% if my_reviews %}
        {% for review in my_reviews %}
            {% include 'reviews/review_card.html' %}
        {% endfor %}
    {% else %}
        <h4>I haven't written reviews yet.</h4>
        <div class="d-flex justify-content-center p-2">
            <img src="{% static 'custom/img/my_reviews.jpg' %}" class="img-fluid" style="max-height: 345px;" alt="">
        </div>
    {% endif %}
    {% include 'general/pagination.html' %}
{% endblock content %}
