<div class="card mb-3">
    <div class="card-header">
        <div class="row g-0">
            <div class="col-md">
                <p class="mb-0 text-muted">
                    {% if request.path == '/my_reviews/' %}
                        {{ review.pub_date }} | Review on <span class="text-nowrap">
                            <a class="review-link" href="{{ review.book.get_absolute_url }}">{{ review.book.title }}</a>
                        </span>
                    {% else %}
                        {{ review.pub_date }} | {{ review.owner|title }}
                    {% endif %}
                </p>
            </div>
            <div class="col-auto">
                {% if review.owner == request.user %}
                    <p class="mb-0">
                        <span class="text-nowrap">
                            <a class="review-link" href="{% url 'book_review:edit_review' review.book.id review.book.slug %}">Edit review</a> |
                            <a class="review-link" href="{% url 'book_review:delete_review' review.book.id review.book.slug %}">Delete review</a>
                        </span>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{review.title}}</h5>
        <p class="card-text">Rating: {{ review.rating }}/5</p>
        <div class="card-text">
            {% if review.text|length > 700 %}
                <p>{{ review.text|slice:':700' }}<span id="dots{{ review.id }}">...</span><span class="textContinuation" id="more{{ review.id }}">{{ review.text|slice:'700:'}}</span>
                    <a class="text-nowrap read-more-link" onclick="myFunction({{ review.id }})" id="myBtn{{ review.id }}">Read more</a>
                </p>
            {% else %}
                <p>{{ review.text }}</p>
            {% endif %}
        </div>
    </div>
</div>