<div class="card mb-3">
    <div class="row g-0">
        <div class="col-sm-auto">
            <a href="{{book.get_absolute_url}}">
                <img src="{{ book.full_img.url }}" class="card-img rounded d-none d-sm-block" alt="{{ book.title }}" style="width: 11.5rem">
                <img src="{{ book.small_img.url }}" class="card-img rounded d-block d-sm-none" alt="{{ book.title }}">
            </a>
        </div>
        <div class="col-sm container-fluid">
            <div class="card-body">
                <div class="row g-0">
                    <div class="col-md">
                        <h5 class="card-title">
                            <a class="book-title-link" href="{{book.get_absolute_url}}">{{book.title}}</a>
                        </h5>
                        <p class="mb-2 mb-md-3">by {% for author in book.authors.all %}
                            {% if request.path == '/search/' and category == 'author' %}
                                <span class="text-nowrap">{{author}}</span>
                            {% else %}
                                <a class="text-nowrap book-field-link" href="{% url 'book_review:search' %}?q={{author}}&category=author">{{author}}</a>{% endif %}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                        </p>
                    </div>
                    <div class="col-auto mb-3">
                        {% if book.is_published and book.avg_rating %}
                            <span>Rating: {{book.avg_rating|floatformat:2}}
                                (<a class="book-field-link" href="{{book.get_absolute_url}}#reviews">{{book.review_set.count}} review{{book.review_set.count|pluralize}}</a>)</span>
                        {% elif book.is_published and not book.avg_rating %}
                            <span>Unrated</span>
                        {% else %}
                            <span>{{book.pub_date.day}} {{book.pub_date|date:'F'}} {{book.pub_date.year}}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="card-text">
                    {% if book.description|length > 650 %}
                        <p>{{ book.description|slice:':650' }}<span id="dots{{ book.id }}">...</span><span class="textContinuation" id="more{{ book.id }}">{{ book.description|slice:'650:'}}</span>
                            <a class="text-nowrap read-more-link" onclick="myFunction({{ book.id }})" id="myBtn{{ book.id }}">Read more</a>
                        </p>
                    {% else %}
                        <p>{{ book.description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>