{%  extends 'general/base.html' %}
{% load static %}


{% block page_header %}
    <div class="pb-1 mb-4 border-bottom">
        <h2>Search results</h2>
    </div>
{% endblock page_header %}

{% block content %}
    {% if results %}
        <h4>
            {% if category == 'book' %}Books found by title
            {% elif category == 'author' %}Books written by «{{q}}»
            {% elif category == 'genre' %}Books in «{{q}}» genre
            {% elif category == 'year' %}Books of «{{q}}» year
            {% elif category == 'any' %}Books found for «{{q}}» request
            {% endif %}
            ({{ paginator.count }}):
        </h4>
        <ul>
            {% for book in page_obj %}

                <li>{% include 'books/book_card.html' %}</li>

            {% endfor %}
        </ul>

    {% elif category in SEARCH_CATEGORIES %}

        <h4>Nothing found for «{{q}}» :(</h4>
        <div class="d-flex justify-content-center p-2">
            <img src="{% static 'custom/img/search.jpg' %}" class="img-fluid" style="max-height: 345px;" alt="">
        </div>

    {% else %}

        <h4>No such category</h4>
        <p>
            Please choose among
            {% for category in SEARCH_CATEGORIES %}
                {% if forloop.revcounter > 2 %}
                    «{{ category }}»,
                {% elif forloop.revcounter == 2 %}
                    «{{ category }}» or
                {% else %}
                    «{{ category }}».
                {% endif %}
            {% endfor %}
        </p>

    {% endif %}

    {% include 'general/pagination.html' %}

{% endblock content %}
